*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 3%;
}

.header>div {
    text-align: center;
}

.container-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 5% 5%;
    text-align: left;
    background: url("../asstes/img/bg-home-1.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    grid-template-rows: auto;
}

.container-1>div {
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #b8b8b8;
}

nav ul li a:hover {
    color: black;
}

.button-login {
    border-color: #FFCD61;
    border-radius: 5px;
    border: 1%;
    width: 120px;
    height: 30px;
}

.button-register {
    background-color: #FFCD61;
    border-radius: 5px;
    border: 1%;
    width: 120px;
    height: 30px;
}

h1{
    font-size: 60px;
    color: #FFFFFF;
}

h6{
    font-size: 20px;
    color: #FFFFFF;
}

.form {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    text-align: left;
}

.form h1 {
    padding-bottom: 3%;
}

.form span {
    padding-bottom: 2%;
}

.option-form {
    padding-top: 1%;
    width: 150%;
    height: 110%;
}

.button {
    padding-top: 2%;
}

.location {
    width: 15%;
    height: 120%;
    border-radius: 5px;
}

.type {
    width: 15%;
    height: 120%;
    border-radius: 5px;
}

.payment {
    width: 15%;
    height: 120%;
    border-radius: 5px;
}

.date {
    width: 15%;
    height: 120%;
    border-radius: 5px;
}

.button-explore {
    background-color: #FFCD61;
    border-radius: 5px;
    border: 0;
    width: 20%;
    height: 180%;
    font-weight: bold;
}

.container-2 {
    display: grid;
    grid-template-columns: auto;
    padding: 5% 5%;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100%;
    grid-template-rows: auto;
}

.container-2>div {
    text-align: left;
}

.heading {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.heading a {
    text-decoration: none;
}

.vehicles-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.img-van-1 {
    width: 80%;
    height: 100%;
    border-radius: 5%;
}

.img-motorbike-1 {
    width: 80%;
    height: 100%;
    border-radius: 5%;
}

.img-van-2 {
    width: 80%;
    height: 100%;
    border-radius: 5%;
}

.img-motorbike-2 {
    width: 80%;
    height: 100%;
    border-radius: 5%;
}

.container-3 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5%;
    padding: 5% 5%;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 100%;
    grid-template-rows: auto;
}

.container-3>div {
    text-align: left;
}

.testimoni {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 2%;
}

h4{
    font-size: 20px;
    font-weight: bold;
}

h5{
    font-weight: lighter;
    font-size: 16px;
}

.image-person {
    width: 100%;
    border-radius: 5%;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5%;
    padding: 5% 5%;
    text-align: left;
    color: #b8b8b8;
}

.destination ul li {
    list-style: none;
    color: #b8b8b8;
}

.vehicle ul li {
    list-style: none;
    color: #b8b8b8;
}

.interest ul li {
    list-style: none;
    color: #b8b8b8;
}


.item1 {
    grid-column: 1 / 3;
}